/* src/app/globals.css */
body {
  background-color: #141414; /* Warna hitam khas streaming app */
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Mencegah scroll ke samping yang tidak perlu */
}

/* Trik menyembunyikan scrollbar tapi tetap bisa di-scroll (biar estetik) */
::-webkit-scrollbar {
  display: none;
}